**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.ddev
.github/
cert/
docs/
public/build/
tests/
vendor/
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/ssr
/storage/clockwork
/storage/logs
/storage/pail
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.backup
/.idea/sonarlint
_ide_helper_models.php
_ide_helper.php
.php-cs-fixer.cache
.husky
/.vscode
/public/page-cache
.phpunit.database.checksum
rr
.rr.yaml
frankenphp
.config
.data
