#ddev-generated
hooks:
  post-start:
    - exec: >
        if [ ! -f .env ]; then
          cp .env.example .env;
        fi
    - exec: >
        if [ "$DATABASE" = "sqlite" ]; then
          if [ ! -f database/database.sqlite ]; then
            touch database/database.sqlite;
          fi
        fi
    - exec: >
        if [ ! -d vendor ]; then
          composer install;
          php artisan key:generate;
          php artisan migrate --seed;
        fi